body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
}

#header-stuff {
    justify-content: space-between;
}

.header-logo  {
    font-size: 24px;
    color: #F9FAF8;
}

.header, .hero, .content, .quote-section, .footer, .box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 24px;
    text-wrap: wrap;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.hero, .content {
    display: flex;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

.sec-text , a, .box{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button, #box-stuff {
    background-color: #3882F6;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.main-text, .info-header {
    font-weight: 900;
}

img{
    width: 500px;
    height: 300px;
}

.content img{
    width: 200px;
    height: 200px;
}

.hero-button, .content img,  #box-stuff{
    border-radius: 8px;
}

.content .container, .image, #quote-stuff {
    justify-content: center;
    flex-direction: column;
}

.info-header, .quote, .image {
    color: #1F2937;
}

.info-header {
    font-size: 36px;
}

.images, .info-header, .quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.image {
    width: 200px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    text-align: left;
    font-size: 36px;
    font-style: light italic;
    width: 60%;
}

#quote-credit {
    font-size: 16px;
    justify-content: right;
}

#box-stuff {
    width: 70%;
    justify-content: space-between;
    padding: 5%;
}

#footer-thing {
    justify-content: center;
}

